node_modules/
dist/
generated/
.cache/
.vite/
coverage/

public/*/articles/*.pdf

*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

.DS_Store