<div class="file-bar">
  <a id="back-link" href="{{back_href}}" class="back-link">{{back_label}}</a>
  <div class="file-act">
    <button id="download-pdf-btn" class="{{download_class}}" type="button" data-action-href="{{download_href}}" data-action-target="_blank">{{download_text}}</button>
    <button id="edit-article-btn" class="download-btn action-chip hidden" type="button">{{edit_text}}</button>
    <button id="zen-mode-btn" class="download-btn action-chip hidden" type="button">{{zen_text}}</button>
  </div>
</div>
<div id="file-content" data-file-content>
  {{content_html}}
</div>
